<ion-header>
  <ion-toolbar>
    <ion-row style="border-bottom: groove;">
      <ion-col size="1.2" >
        <div  >
          <ion-img  src="assets/pegawai.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col >
        <div class="ion-text-mid">
         <ion-title>PILIH BC1.1</ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="border: groove;">
  <ion-row  >
    <ion-col col-4>
        <ion-label >ID Pegawai</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Tanggal</ion-label>
    </ion-col>
  </ion-row>
  <ion-row  >
    <ion-col col-4>
      <ion-label >ID Barang</ion-label>
    </ion-col>
  </ion-row>
</div>
  <ion-row style="border: groove;" routerLink="/pilihpos" >
    <ion-col col-2>
    <ion-label >1111</ion-label>
  </ion-col>
  <ion-col col-5>
    <ion-label >12/05/2020</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >20200716140411111</ion-label>
  </ion-col>
  </ion-row>
  <ion-row style="border: groove;"  routerLink="/pilihpos">
    <ion-col col-4>
    <ion-label >2222</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >12/07/2020</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >202001234922222</ion-label>
  </ion-col>
  </ion-row>
  <ion-button type="submit" expand="block" color="primary" routerLink="/login">close</ion-button>
</ion-content>
