<ion-header>
  <ion-toolbar>
    <ion-row style="border-bottom: groove;">
      <ion-col size="1.2" >
        <div  >
          <ion-img  src="assets/pilihpos.jpg" ></ion-img>
        </div>
      </ion-col>
      <ion-col >
        <div class="ion-text-center">
          
          <ion-title>PILIH POS/MAWB</ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="border-bottom: groove;"  >
    <ion-col col-4>
    <ion-label >id</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >MAWB</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >tanggal</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >negara</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >jumlah</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >header</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >berat</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;" routerLink="/cekkantong">
  <ion-col col-4>
  <ion-label >0001</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >AWB0001</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >02/02/2018</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >JP</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >10</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >0</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >1111</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;" routerLink="/cekkantong">
  <ion-col col-4>
  <ion-label >0002</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >AWB0002</ion-label>
</ion-col>
  <ion-col col-4>
  <ion-label >02/02/2018</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >KR</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >5</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >0</ion-label>
</ion-col>
<ion-col col-4>
  <ion-label >1111</ion-label>
</ion-col>
</ion-row>
<ion-row style="border-bottom: groove;" routerLink="/cekkantong">
  <ion-col col-4>
    <ion-label >0003</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >AWB0003</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >02/02/2018</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >CHI</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >10</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >0</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >1111</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;" routerLink="/cekkantong">
  <ion-col col-4>
    <ion-label >0004</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >AWB0004</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >02/02/2018</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >IN</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >5</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >0</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >1111</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;" routerLink="/cekkantong">
  <ion-col col-4>
    <ion-label >0005</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >AWB0005</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >02/02/2018</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >AS</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >10</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >0</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >1111</ion-label>
  </ion-col>
</ion-row>

</ion-content>
